<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Form</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper login">
        <div class="container">
            <div class="col-left">
                <div class="login-text">
                    <h2>Welcome!</h2>
                    
                </div>
            </div>
            <div class="col-right">
                <div class="login-form">
                    <h2>Update</h2>
                    <form method='post' action='/update/'>
                      <p> <label>Name<span>*</span></label> <input type="text" name="name" placeholder=" Please Enter name " required> </p>
                        <p> <label>Email id<span>*</span></label> <input type="email" name="email" placeholder=" Please Enter Email" required> </p>
                        <p> <label>Address<span>*</span></label> <input type="text" name="address" placeholder="Please Enter Address" required> </p>
                        <p> <label>DOB<span>*</span></label> <input type="date" name="DOB" placeholder="Please Enter DOB" required> </p>
                        <p> <label>Contact number<span>*</span></label> <input type="number" name="contact" maxlength="10" placeholder="Please Enter Contact Number" required> </p>
                        <p> <input type="submit" value="Sign In"> </p>
                        <p> <a href="">Forgot password?</a> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>